%cofo-bold {
    font-family: 'CoFo Sans Bold', sans-serif;
    font-weight: 700;
}

%cofo-medium {
    font-family: 'CoFo Sans Medium', sans-serif;
    font-weight: 500;
}

%cofo-regular {
    font-family: 'CoFo Sans Regular', sans-serif;
    font-weight: 400;
}

$black: #1A252C;
$red:#EC2510;